[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TOmicsVis"]
	path = TOmicsVis
	url = https://github.com/benben-miao/tomicsvis
